ALTER TABLE tasks ADD COLUMN IF NOT EXISTS parent_test_id UUID; ALTER TABLE tasks ADD COLUMN IF NOT EXISTS production_cost DECIMAL DEFAULT 0; ALTER TABLE tasks ADD COLUMN IF NOT EXISTS trip_cost DECIMAL DEFAULT 0;
